//out: false

@import './common/mixins.less';
@import './common/base.less';
@import './common/normalize.less';
@import './common/scrollbar.less';
@import './common/popup.less';

body, html {
    height: 100%;
}

body {
    background-color: var(--color-card-background);
    color: var(--color-primary-text);
}

body {
    overflow: hidden;
}

.root {
    display: flex;
    padding: 4px;
    flex: 1;
    height: 100%;
    position: relative;
}
.root_left {
    flex: 0 0 206px;
    display: flex;
    flex-direction: column;
    &.root_left_ShowTag {
        .lt_title_tag {
            display: flex;
        }
        .lt_title_stock, .lt_title_recent {
            margin-left: 17px;
        }
        .lt_detail {
            overflow: auto;
        }
    }
}
.lt_title{
    display: flex;
    height: 38px;
    justify-content: center;
    align-items: center;
    color: var(--color-gray2);
    border-bottom: 1px solid var(--color-backbg3);
    font-size: var(--font-size-h6);
    .lt_title_tag {
        display: none;
    }
    li {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &:hover, &.active {
            color: var(--color-blue-7);
            .lt_title_line {
                background: var(--color-blue-7);
                visibility: visible;
            }
        }
        &.lt_title_recent {
            margin-left: 37px;
        }
        .lt_title_dsc {
            padding: 4px 0;
            flex: 1 1 auto;
        }
        .lt_title_line {
            height: 2px;
            width: 80%;
            align-self: center;
            visibility: hidden;
        }
    }
}
.root_main {
    display: flex;
    flex: 1;
    margin: 0 2px;
}
.root_right {
    flex: 0 0 336px;
}
.extend_nodata {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 18px;
}
.red {
    color: var(--color-red);
}
.green {
    color: var(--color-green);
}
.yellow {
    color: #F2F24E;
}
.blue {
    color: #0ff;
}

.detail_table {
    tr {
        td {
            width: 25%;
            padding-left: 5px;
            padding-right: 10px;
        }
        td:nth-child(odd) {
            text-align: left;
        }
        td:nth-child(even) {
            text-align: right;
        }
    }
}

.right_bottom_container {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 12px;
}

.view_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.view_vessel {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.detail_extend {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.stockDetial-read-pdf {
    cursor: pointer;
}

.detail_head {
    border-bottom: 1px solid var(--color-dividers);
    padding: 8px 10px 6px;
}

.detail_head_title {
    display: flex;
    justify-content: space-between;
}

.title_left {
    display: flex;
    align-items: center;
}

.detail_head_btn {
    display: flex;
    justify-content: space-between;
}

.title_left_name {
    font-size: 18px;
}

.title_left_code {
    font-size: 16px;
}

.title_left_name,
.title_left_code {
    margin-right: 5px;
}

.detail_info {
    display: flex;
    font-size: 13px;
    overflow: hidden;
}

.detail_info_Limit {
    height: 84px;
}

.detail_info_Full {
    height: 189px;
}

.detail_info_table {
    flex: 1;
    table {
        width: 100%;
        tr {
            height: 21px;
        }
    }
}

.detail_head_btn_skip,
.detail_head_btn_right, {
    display: flex;
}

.view_title {
    border-top: 1px solid var(--color-dividers);
    border-bottom: 1px solid var(--color-dividers);
}

.is_myStock {
    margin-left: 8px;
}

.pop-up-five-box {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    position: absolute;
    z-index: 100000;
    right: 0;
    bottom: 285px;
    line-height: 46px;
    padding: 0 20px;
    font-size: 18px;
}

.order_item_count {
    border: 1px solid transparent;
    @keyframes move_red {
        from {
            border-color: var(--color-stock-risebg-deep);
            background-color: var(--color-stock-risebg-shallow);
        }
        to {
            border-color: transparent;
            background-color: var(--color-card-background);
        }
    }

    @keyframes move_green {
        from {
            border-color: var(--color-stock-fallbg-deep);
            background-color: var(--color-stock-fallbg-shallow);
        }
        to {
            border-color: transparent;
            background-color: var(--color-card-background);
        }
    }

    &.bg-red {
        animation: move_red .7s linear infinite;
    }
    &.bg-green {
        animation: move_green .7s linear infinite;
    }
}
