// out: false
.popup .check-box {
    background: var(--modal-bg-color);
    border-color: var(--color-backbg3);
}

.popup .checked-box {
    background: url('~@assets/checked.png') center;
}

.alert-text {
    text-align: center;
    height: 100%;
    line-height: 85px;
}

.popup {
    //  border: 1px solid @color-boder-1;
    background: var(--modal-bg-color);
    ::-webkit-scrollbar-track-piece {
        background: var(--axis-background-white);
    }
    ::-webkit-scrollbar-track-piece {
        background-color: var(--axis-background-white);
    }
    ::-webkit-scrollbar {
        width: 16px;
    }
    ::-webkit-scrollbar:horizontal {
        height: 16px;
    }
    ::-webkit-scrollbar-thumb:horizontal {
        border-top: 3px solid var(--axis-background-white);
        border-bottom: 3px solid var(--axis-background-white);
    }
    ::-webkit-scrollbar-button {
        height: 12px;
        width:16px;
    }
    ::-webkit-scrollbar-button:horizontal:start{
        background: var(--axis-background-white) url("~@assets/axis-left-8x4.png") no-repeat center center;
        //  background-size: 100% 100%;
    }
    ::-webkit-scrollbar-button:horizontal:end {
        background: var(--axis-background-white) url("~@assets/axis-right-8x4.png") no-repeat center center;
        //  background-size: 100% 100%;
    }
    ::-webkit-scrollbar-button:vertical:start {
        background: var(--axis-background-white) url("~@assets/axis-top-8x4.png") no-repeat center center;
        //  background-size: 100% 100%;
    }
    ::-webkit-scrollbar-button:vertical:end {
        background: var(--axis-background-white) url("~@assets/axis-bottom-8x4.png") no-repeat center center;
        //  background-size: 100% 100%;
    }
    ::-webkit-scrollbar-track-piece {
        background-color: var(--axis-background-white);
    }
    ::-webkit-scrollbar-thumb {
        border-left: 3px solid var(--axis-background-white);
        border-right: 3px solid var(--axis-background-white);
        border-top: none;
        border-bottom: none;
        background: var(--axis-color-white);
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--axis-color-white);
    }
    ::-webkit-scrollbar-corner {
        background-color: var(--scrollbar-bg);
    }
    .typehead {
        border-color: var(--popupWindow-line);
        background: var(--popup-list-background);
        color: var(--item-text-color) !important;
    }
    .typehead .selected {
        background:var(--popup-select-hover) !important;
        color: var(--item-text-color) !important;
    }
    .option-item:hover {
        background: var(--popup-select-hover);
    }
    input {
        color: var(--item-text-color);
        background: var(--color-white);
        border-color: var(--popupWindow-line);
    }
    .select-box {
        color:var(--item-text-color);
    }
    .select-value {
        border-color: var(--popupWindow-line);
        background: var(--color-white);
    }
    .option-list {
        border-color:var(--popupWindow-line);
        background: var(--popup-list-background);
    }
    textarea {
        color: var(--item-text-color);
        background: var(--color-white);
        border-color: var(--popupWindow-line);
    }
}
